/*******************************************************************************
#      ____               __          __  _      _____ _       _               #
#     / __ \              \ \        / / | |    / ____| |     | |              #
#    | |  | |_ __   ___ _ __ \  /\  / /__| |__ | |  __| | ___ | |__   ___      #
#    | |  | | '_ \ / _ \ '_ \ \/  \/ / _ \ '_ \| | |_ | |/ _ \| '_ \ / _ \     #
#    | |__| | |_) |  __/ | | \  /\  /  __/ |_) | |__| | | (_) | |_) |  __/     #
#     \____/| .__/ \___|_| |_|\/  \/ \___|_.__/ \_____|_|\___/|_.__/ \___|     #
#           | |                                                                #
#           |_|                 _____ _____  _  __                             #
#                              / ____|  __ \| |/ /                             #
#                             | (___ | |  | | ' /                              #
#                              \___ \| |  | |  <                               #
#                              ____) | |__| | . \                              #
#                             |_____/|_____/|_|\_\                             #
#                                                                              #
#                              (c) 2010-2011 by                                #
#           University of Applied Sciences Northwestern Switzerland            #
#                     Institute of Geomatics Engineering                       #
#                           martin.christen@fhnw.ch                            #
********************************************************************************
*     Licensed under MIT License. Read the file LICENSE for more information   *
*******************************************************************************/

/* Browser reset */
*{	margin:0px;
    padding:0px;
    font-family: arial;
    font-size:12px;

}


/* #divMainEntry ----------------------------------------------------------------*/
#divMainEntry
{
    position: absolute;
    left:10%;
    top:10%;
    width: 480px;

}
*/
#innertab
{
    background-color: #ffffff;
    margin : 0px;
    padding: 0px;

}


a
{
    font-size: 14px;
    font-weight:bold
}
p
{
    font-size: 12px;
    font-weight:bold
}

form
{
    font-size: 12px;
    font-weight:bold
}

#tbPosition
{

    height: 40px;
    margin-top: 10px;
    
}

#divWaiting
{
    background-color: #FFFFFF;
    height: 66%;
    position: absolute;
    width: 95%;
    z-index: 100;
    top: 26%;
}
#divWaitingImage
{
    left: 180px;
    position: absolute;
    top: 20px;
}
