/*******************************************************************************
#      ____               __          __  _      _____ _       _               #
#     / __ \              \ \        / / | |    / ____| |     | |              #
#    | |  | |_ __   ___ _ __ \  /\  / /__| |__ | |  __| | ___ | |__   ___      #
#    | |  | | '_ \ / _ \ '_ \ \/  \/ / _ \ '_ \| | |_ | |/ _ \| '_ \ / _ \     #
#    | |__| | |_) |  __/ | | \  /\  /  __/ |_) | |__| | | (_) | |_) |  __/     #
#     \____/| .__/ \___|_| |_|\/  \/ \___|_.__/ \_____|_|\___/|_.__/ \___|     #
#           | |                                                                #
#           |_|                 _____ _____  _  __                             #
#                              / ____|  __ \| |/ /                             #
#                             | (___ | |  | | ' /                              #
#                              \___ \| |  | |  <                               #
#                              ____) | |__| | . \                              #
#                             |_____/|_____/|_|\_\                             #
#                                                                              #
#                              (c) 2010-2011 by                                #
#           University of Applied Sciences Northwestern Switzerland            #
#                     Institute of Geomatics Engineering                       #
#                           martin.christen@fhnw.ch                            #
********************************************************************************
*     Licensed under MIT License. Read the file LICENSE for more information   *
*******************************************************************************/

/* Browser reset */
*{	margin:0px;
    padding:0px;
}


/* #divMainEntry ----------------------------------------------------------------*/
#divMainEntry
{
    /*background-image : url(images/transp.png);
   background-repeat: repeat;*/
    background-color : #ffffff;
    width : 100%;
    height : 104px;
    position : absolute;
    left : 0px;
    top : 0px;
}


/* #divPreview ----------------------------------------------------------------*/
#divPreview
{
    /*background-image : url(images/transp.png);
   background-repeat: repeat;*/
    background-color : #ffffff;
    width : 100%;
    height : 104px;
    position : absolute;
    left : 0px;
    top : 0px;
}
